@media screen and (min-width: 736px) {
  /* --- Reset Styles --- */
  * {
    list-style: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html, body {
    height: 100%;
    margin: 0, auto;
    text-align: center;
  }

  .goalgram{
    font-family: 'Dancing Script', cursive;
  }

  .goalgram a{
    text-decoration: none;
    color: black;
  }
  /* --- Header for Pages --- */
  header {
    background-color: #fff;
    border-bottom: 1px solid #dbdbdb;
    margin: 0px;
    padding-top: 10px;
    height: 70px;
  }

  header li{
    display: inline-block;
    margin-left: 40px;
  }

  .span-1-of-3 {
    width: 32.26%; 
    float: left;
  }

  h5 .span-2-of-3 {
    width: 66.13%;
    font-size: 12px;
  }

  .col-header:first-child { 
    margin-left: 0; 
    display: inline-block;
    float: left;
  } 

  .hlinks:link, .hlinks:visited{
    text-decoration: none;
    color: #000000;
    border-bottom: 2px solid transparent;
    display: block;
  }

  .dropbtn {
    background: transparent;
    border: 2px solid transparent;
  }

  .dropdown_content ion-icon{
    font-size: 8px;
  }

  .dropdown-content{
    display: none;
    text-decoration: none;
    position: absolute;
    background-color: #fff;
    z-index: 1;
    border-radius: 3px;
    text-align: left;
  }

  .dropdown-content a{
    color: #000;
    padding:  12px 16px;
    display: block;
    text-decoration: none;
    display: inline-block;
    min-width: 160px;
  }

  .dropdown:hover .dropdown-content {
    padding: 5px;
    display: block;
  }

  .dropdown-content a:hover {
    background-color: #dbdbdb;
  }

  .profile-pic:hover {
    border: 2px solid #000;
    border-radius: 50%;
    padding: 1px;
  }

  .profile-pic{
    border-radius: 50%;
  }


  ion-icon {
    font-size: 32px;
  }
  /* --- Search Box --- */
.search {
  width: 100%;
  position: relative;
  display: inline;
  text-align: center;
  padding: 7px;
  border-radius: 3px;
}


/* -- Sign in/Log in --- */

  .form_param {
    padding: 10px;
    margin-bottom: 10px;
    width: 40vh;
    border-radius: 3px;
    border: 1px solid #000000;
  }

  .button {
    background-color: #405DE6;
    border: 2px solid transparent;
    color: #fff;
  }

  h5 a {
    text-decoration: none;
    color: #405DE6;
    
  }
/* --- NEW POSTS PAGE --- */ 
h4 input {
  background-color: transparent;
  border: 1px solid transparent;
  text-decoration: none;
  color: #405DE6;
}

.newpost-box text-area{
  width: 400px;
}

  
/* --- HOME POSTS PAGE --- */ 

  .home-box{
    max-width: 645px;
    width: 100% ;
    height: 300px;
  }

  .home-post-box{
    background: #ffffff;;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    margin: 16px auto;
    max-width: 641px;
    padding: 2.25%; /* 18px / 800px */
    width: fit-content;
    text-align: center;
  }

  .image-post{
    margin: 16px auto;
  }

  /* .profile-post{
    width: 500px;
  } */



  /* --- Welcome Page Styles --- */
  body {
    background-color: #fff;
    color: #333;
    font-family: Sans-Serif;
    line-height: 18px;
  }
  /* .wrapper {
    background: #ffffff;;
    border: 1px solid #dbdbdb;
    margin-top: 10px;
    border-radius: 3px;
    margin: 16px auto;
    max-width: 960px;
    padding: 2.25%; /* 18px / 800px */
    width: fit-content;
    text-align: center;
  } */

  /* --- Profile --- */
  .profile-boxes {
    justify-content: flex-start;
    margin-bottom: 16px;
  }

  h1 {
    font-size: 50px;
    line-height: 90px;
  }

  h2 {
    font-size: 30px;
    line-height: 36px;
  }

  h3 {
    font-size: 18px;
    line-height: 36px;
  }

  h4 {
    font-size: 16px;
    line-height:  36px;
  }

  p {
    margin-bottom: 18px;
  }

  .main {
    overflow: hidden;
  }

  .content {
    float: left;
    width: 60%; /* 480px / 800px */
  }

  .sidebar {
    background: #fff;
    border: 1px solid #000000;
    float: right;
    padding: 2.08333333333%; /* 5px / 240px */
    width: 30%; /* 240px / 800px */
  }

  .sidebar ul {
    font-size: 14px;
  }

  .branding {
    clear: both;
  }

  footer.branding {
    margin-top: 20px;
    padding-top: 20px;
  }
}

@media screen and (max-width: 600px) {
  .wrapper {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    width: auto;
  }

  .content, .sidebar {
    float: none;
    width: 100%;
  }

  .sidebar {
    background: transparent;
    border: none;
    border-top: 0px solid #000;
    padding: 0;
  }

  h1 {
    font-size: 24px;
    line-height: 36px;
  }

  h2 {
    font-size: 18px;
    line-height: 24px;
  }
}

@media only screen and (max-width: 480px) {
	.col header{ 
		/*margin: 1% 0 1% 0%;*/
        margin: 0;
	}
}