<%= erb :"partials/navbar" %>
<h1>Edit Info</h1>

<form method="POST" action="/posts/<%= @post.id %>">
    <input type="hidden" id="hidden" name="_method" value="PATCH">
    <img src=<%=@post.images%> alt="Post Picture" height="641" width="641">
    <textarea name="body" placeholder=<%=@post.body%>></textarea><br />
    <input type="submit">
</form>