
<% @posts.each do |post|%>
        <div class="home-box">
            <% User.all.each do |user| %>
                <% if user.id == post.user_id%>
                    <%= user.username %>
                <% end %>
            <% end %>
            <h4><%= post.body%></h4>
            <% User.all.each do |user| %>
                <% if user.id == post.user_id%>
                    <%= user.username %>
                <% end %>
            <% end %>
        </div>
    
<% end %>
